html {
    height: 100%;
  }

  body {
    height: 100%;
    font-family: Arial;
    margin: 0;
  }

  form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  form textarea {
    width: 500px;
    height: 150px;
    border-radius: 3px;
    border-color: #0c2431;
    padding: 2px 10px;
    box-sizing: border-box;
    min-width: 300px;
    margin-top: 29px;
    font-size: 16px;
  }

  form button {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    border-color: #0c2431;
    background-color: white;
  }

  form button:hover {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    border-color: #0c2431;
    background-color: #0d5a84;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  .container {
    height: 100%;
  }
  .header {
    height: 100px;
    margin-top: 0;
    padding: 36px;
    text-align: center;
    background: #0c2431;
    color: white;
    font-size: 25px;
  }
  /* Page Content */
  .content {
    padding: 50px;
    background: white;
    height: calc(100% - 402px);
  }

  .footer {
    background-color: #0c2431;
    height: 165px;
    position: fixed;
    width: 100%;
    bottom: 0px;
    text-align: center;
  }

  .copyright {
    margin-top: 16px;
    bottom: 0;
    color: white;
    background-color: #0c2431;
    box-sizing: border-box;
    padding: 31px;
  }

  .link label{
    font-size: 20px;
    box-sizing: border-box;
  }

  .link input[type="text" i] {
    max-width: 700px;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 15px;
  }
  
  .errorlist{
    display: none;
  }