.html {
    height: 100%;
  }

  .body {
    height: 100%;
    font-family: Arial;
    margin: 0;
  }

  .form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .form textarea {
    width: 500px;
    height: 150px;
    border-radius: 3px;
    border-color: #6651a5;
    padding: 2px 10px;
    box-sizing: border-box;
    min-width: 300px;
    margin-top: 29px;
    font-size: 16px;
  }

  .form button {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    border-color: #0c2431;
    background-color: antiquewhite;
  }
  .form button:hover {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    border-color: #0c2431;
    background-color: #0d5a84;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  .containers {
    height: 100%;
  }

  .fa {
    padding: 8px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 12px 10px;
    margin-top: 23px;
  }

  .header {
    height: 124px;
    margin-top: 0;
    padding: 36px;
    text-align: center;
    background: #0c2431;
    color: white;
    font-size: 25px;
  }
  /* Page Content */
  .content {
    padding: 20px;
    background: #edddd4;
    height: calc(100% - 360px);
    box-sizing: border-box;
    padding-top: 80px;
  }

  .footer {
    background-color: #0c2431;
    height: 165px;
    position: fixed;
    width: 100%;
    bottom: 0px;
    text-align: center;
  }

  .copyright {
    margin-top: 16px;
    bottom: 0;
    color: white;
    background-color: #0c2431;
    box-sizing: border-box;
    padding: 31px;
  }

  .link{
    width: 700px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  .op-link{
    color: black;
    display: flex;
    align-items: center;
  }
  .form-control{
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 15px;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }